# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [52]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import os
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = os.path.join("Resources","city_data.csv")
ride_data_to_load = os.path.join("Resources", "ride_data.csv")

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [53]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,$13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,$30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,$33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,$23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,$34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [74]:
#  1. Get the total rides for each city type
total_rides = pyber_data_df.groupby("type").count()["ride_id"]
total_rides

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [75]:
# 2. Get the total drivers for each city type
total_drivers = pyber_data_df.groupby("type").sum()["driver_count"]
total_drivers

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [56]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby("type").sum()["fare"]
total_fares

type
Rural       $4,327.93
Suburban   $19,356.33
Urban      $39,854.38
Name: fare, dtype: float64

In [57]:
#  4. Get the average fare per ride for each city type. 
average_fare_per_ride = total_fares / total_rides
average_fare_per_ride

type
Rural      $34.62
Suburban   $30.97
Urban      $24.53
dtype: float64

In [58]:
# 5. Get the average fare per driver for each city type. 
average_fare_per_driver = total_fares / total_drivers
average_fare_per_driver

type
Rural      $8.06
Suburban   $2.26
Urban      $0.67
dtype: float64

In [59]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_dict = {"Total Rides": total_rides, 
"Total Drivers": total_drivers, 
"Total Fares": total_fares,
"Average Fare per Ride" : average_fare_per_ride,
"Average Fare per Driver": average_fare_per_driver}

pyber_summary_df = pd.DataFrame(pyber_summary_dict)

pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,537,"$4,327.93",$34.62,$8.06
Suburban,625,8570,"$19,356.33",$30.97,$2.26
Urban,1625,59602,"$39,854.38",$24.53,$0.67

In [60]:
pyber_df = pd.concat([total_rides, total_drivers, total_fares, average_fare_per_ride, average_fare_per_driver], axis=1)
pyber_df

          ride_id  driver_count       fare      0     1
type
Rural         125           537  $4,327.93 $34.62 $8.06
Suburban      625          8570 $19,356.33 $30.97 $2.26
Urban        1625         59602 $39,854.38 $24.53 $0.67

In [61]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [62]:
#  8. Format the columns.
pd.options.display.float_format = '${:,.2f}'.format
pyber_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,537,"$4,327.93",$34.62,$8.06
Suburban,625,8570,"$19,356.33",$30.97,$2.26
Urban,1625,59602,"$39,854.38",$24.53,$0.67

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [63]:
# 1. Read the merged DataFrame

In [64]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [65]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [66]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [67]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [68]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [69]:
# 7. Check that the datatype for the index is datetime using df.info()

In [70]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [71]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')